body {
  margin: 0;

  font-family: "Indie Flower", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "Dancing Script", cursive;
}

h5 {
  font-family: sans-serif;
}
