@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;

  font-family: "Indie Flower", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "Dancing Script", cursive;
}

h5,
span,
div {
  font-family: sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer components {
  .flexCenter {
    @apply flex flex-col items-center justify-center;
  }

  .centerAlign {
    @apply absolute -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2;
  }
}
